

#slideimage
{
    height: 350px;
    margin-left: 15%;
    margin-top: 4%;
    width: 60%;
    border-radius: 23px;
    float: left;
}

    #slideimage img
    {
        float: left;
        max-height: 100%;
        max-width: 100%;
        width: 50%;
        position: absolute;
        opacity: 0.0;
        border-radius: 23px;
        height: inherit;
    }

        #slideimage img.active
        {
            z-index: 10;
            opacity: 1.0;
        }

        #slideimage img.last-active
        {
            z-index: 9;
        }
